<%- include ('partials/_header');  %> 



   
<div class="row justify-content-center align-items-center minh-100">



      <div class="col-md-6 align-items-center pt-4">

            

            <div class="card">

               <form id="form_part"action="/addtask" method="POST">

    <div class="form-group pt-5">
       <label for="">Orden de trabajo</label>
       <input type="text" name="ot"  class = "form-control" value="">
    </div>

    <div class="form-group">
      <label for="">Interno</label>
      <input id="form_interno" type="text" name="interno"  class = "form-control" value="">
   </div>

   <div class="form-group">
      <label for="">Codigo de tarea</label>
      <br>
      <select name="cod" id="">
         <option value="RC">RC - Reparaciones en campo</option>
         <option value="TD">TD - Reparaciones en Taller (Sede)</option>
         <option value="TR">TR - Tareas Generales Taller (Sede)</option>
         <option value="IE">IE - Instrucciones entregas cliente</option>
         <option value="TT">TT - Tiempo Translado</option>
      </select>
   </div>

   <div class="form-group">
      <label for="">Descripcion de tarea</label>
      <textarea name="description" id="" cols="80" class="form-control"></textarea>
   </div>

   <div class="form-group">
      <label for="">Horas dedicadas </label>
      <input type="float" name="hs"  class = "form-control" required>
   </div>

   

    <input class="form-control" name="_id" value="<%= part._id %>" style="display: none;">
    
    <button type="submit" class="btn btn-expand btn-success">Agregar parte</button>
    


       </form>

      </div>

      </div>



      </div>

         
         

<%- include ('partials/_footer');  %> 