<%- include ('partials/_header');  %> 


<% if(error.length > 0) { %> 
    <% for(let err of error){ %> 
      
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error">
                <%=err.text%> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
              </div>
    
    <% } %>
    
    <%}%> 


<div class="container">

<div class="jumbotron mt-4">

    <h1 class="display-4">App carga de partes diarios</h1>
    <p class="lead">Plataforma web para centralizar los trabajos realizados por los tecnicos de la empresa.
    </p>
    <hr class="my-4">
    
    






</div>


</div>










<%- include ('partials/_footer');  %> 