body{
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

th#hsExtTh{
    display: none;
}

button{
    transition: all 1s ease;
}
button:hover::before{
    width: 100%;
}

.menu_activo {
    background-color: transparent;
  
}
